<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>Step.1 - Start</title>
  <script src="angular.mini.js"></script>
  <script src="todo_server.js"></script>

</head>
<body>

<!-------------------- サーバー通信 --------------------------->

<div ng-controller="TodoServerCtrl">
  <h2>todo管理（サーバー連携板）</h2>
  <span>残り：{{ nokori() }}</span>

  <ul>
    <li ng-repeat="todo in todos">
      <input type="checkbox" ng-model="todo.done" 
                             ng-change="changeDone(todo)">
      <span>{{todo.text}}</span>
    </li>
  </ul>

  <form ng-submit="addTodo()">
    <input type="text" ng-model="todoText" placeholder="add new todo">
    <input type="submit" value="追加">
  </form>

  <input type="submit" value="全て削除" ng-click="clearTodo()">
</div>

</body>
</html>
